include README.md
include LICENSE
recursive-include forecastmanager *.py
recursive-include forecastmanager/templates *
recursive-include forecastmanager/static *
recursive-include forecastmanager *.html
recursive-include forecastmanager/locale *.po *.mo
