<div class="w-form-width">
    <section class="w-panel" id="panel-file-section" aria-labelledby="panel-file-heading" data-panel="">
        <div class="w-panel__header">
            <a class="w-panel__anchor w-panel__anchor--prefix" href="#panel-file-section"
               data-panel-anchor="" aria-labelledby="panel-file-heading">
                <svg class="icon icon-link w-panel__icon" aria-hidden="true">
                    <use href="#icon-link"></use>
                </svg>
            </a>
            <button class="w-panel__toggle" type="button" aria-label="Toggle section"
                    aria-describedby="panel-file-heading" data-panel-toggle=""
                    aria-controls="panel-file-content" aria-expanded="true">

                <svg class="icon icon-placeholder w-panel__icon" aria-hidden="true">
                    <use href="#icon-placeholder"></use>
                </svg>
            </button>

            <h2 class="w-panel__heading w-panel__heading--label" id="panel-file-heading"
                data-panel-heading="">
                <label for="id_file" id="id_file-label">
                    <span data-panel-heading-text="">File</span>
                </label>
            </h2>
            <a class="w-panel__anchor w-panel__anchor--suffix" href="#panel-file-section"
               aria-labelledby="panel-file-heading">
                <svg class="icon icon-link w-panel__icon" aria-hidden="true">
                    <use href="#icon-link"></use>
                </svg>
            </a>
            <div class="w-panel__divider"></div>
        </div>
        <div id="panel-file-content" class="w-panel__content">
            <div class="w-field__wrapper " data-field-wrapper="">
                <div class="w-field w-field--file_field w-field--clearable_file_input w-field--commentable"
                     data-field="" data-contentpath="file">
                    <div class="w-field__errors" data-field-errors="" id="panel-child-file-errors">
                    </div>
                    <div class="w-field__help" id="panel-child-file-helptext" data-field-help="">
                    </div>
                    <div class="w-field__input" data-field-input="">
                        <input type="file" name="file" required="" id="id_file">
                        <button class="w-field__comment-button w-field__comment-button--add" type="button"
                                data-component="add-comment-button" data-comment-add=""
                                aria-label="Add comment" aria-describedby="id_file-label">
                            <svg class="icon icon-comment-add icon" aria-hidden="true">
                                <use href="#icon-comment-add"></use>
                            </svg>
                            <svg class="icon icon-comment-add-reversed icon" aria-hidden="true">
                                <use href="#icon-comment-add-reversed"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>