{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}
{% load wagtailsettings_tags %}
{% get_settings use_default_site=True %}
{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css"/>
    <link href="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.css" rel="stylesheet"/>


    {{ form.media.css }} {% endblock %}
{% block titletag %}
    {% trans 'Forecast Manager' %}
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <script type="text/javascript" src="{% static 'forecastmanager/js/forecast_basemap.js' %}"></script>
{% endblock extra_js %}

{% block content %}


    <div class="messages" role="status">
        <ul>
            {% if settings.forecastmanager.ForecastSetting.enable_auto_forecast %}
                <li class="warning">
                    <svg class="icon icon-warning messages-icon" aria-hidden="true">
                        <use href="#icon-warning"></use>
                    </svg>
                    {% trans 'Autoforecasting has been enabled and manually added forecasts here will be overidden.' %}'
                    <span class="buttons">
                        <a href="/admin/settings/forecastmanager/forecastsetting"
                           class="button button-small button-secondary">{% trans 'Change autoforecasting setting in Forecast Source' %}</a>
                    </span>
                </li>
            {% endif %}

            <li class="success" id="creatSuccess" style="display:none">
                <svg class="icon icon-success messages-icon" aria-hidden="true">
                    <use href="#icon-success"></use>
                </svg>
                <span class="successMessage"></span>
            </li>
            <li class="error" id="creatError" style="display:none">
                <svg class="icon icon-warning messages-icon" aria-hidden="true">
                    <use href="#icon-warning"></use>
                </svg>
                <span class="errorMessage"></span>

            </li>
        </ul>
    </div>
    {% block header %}
        {% trans 'Forecast Manager' as title_str %}
        {% include "wagtailadmin/shared/header.html" with title=title_str icon='form' %}
    {% endblock %}


    {% include "wagtailadmin/pages/_editor_js.html" %}

    <div class="nice-padding">

        {% block forecast %}

        {% endblock forecast %}

        {% comment %}
            <div class="createForecast">
                {% include 'forecastmanager/create_forecast.html' %}
            </div> {% endcomment %}

    </div>


{% endblock %}




